.clientProfile-container {
  height: 105vh;
  background: var(--background-secondary);
}

.clientProfile-profileCard {
  padding-top: 15px !important;
  position: relative;
  background: var(--background-main) !important;
  color: var(--text-primary) !important;
}

#clientProfile-avatar {
  width: 180px;
  height: 180px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.12);
}

.clientProfile-editIcon {
  position: absolute !important;
  top: 10px;
  right: 10px;
  width: 35px !important;
  height: 35px !important;
  color: var(--text-primary) !important;
}

.clientProfile-text {
  text-align: center;
}

.clientProfile-textDetail {
  font-size: 1rem;
  margin: 2px 0;
  color: var(--text-main);
}

.profile-name {
  text-align: center;
  font-weight: bold !important;
}

.clientProfile-statusBox {
  margin-bottom: 15px;
}

.clientProfile-priority-flag {
  color: var(--text-primary);
  padding-left: 5px;
  margin-bottom: -5px;
}

.clientProfile-priority-flag.clicked {
  color: var(--info-main);
  padding-left: 5px;
  margin-bottom: -5px;
}

.status-card {
  border-style: none;
  background: var(--background-main) !important;
}

.status-card.clicked {
  border: 1px solid var(--info-border);
}

.label-positive {
  text-transform: uppercase;
  color: var(--secondary-main);
  background: rgba(58, 74, 240, 0.18);
  border: 1px solid rgba(109, 120, 236, 0.3);
  font-size: 0.7rem;
  font-weight: 700;
  border-radius: 0.375rem;
  padding-bottom: 0.3rem !important;
  padding: 0.55em 0.9em;
  margin: auto;
}

.label-negative {
  text-transform: uppercase;
  color: var(--primary-main);
  background: rgba(7, 181, 235, 0.18);
  border: 1px solid rgba(74, 207, 248, 0.3);
  font-size: 0.7rem;
  font-weight: 700;
  border-radius: 0.375rem;
  padding-bottom: 0.3rem !important;
  padding: 0.55em 0.9em;
  margin: auto;
}

::selection {
  color: var(--primary-main);
  background: transparent;
}

.clientProfile-editIcon {
  color: var(--text-inactive);
  border-radius: 100px;
  background-color: transparent !important;
}

.profile-data {
  color: var(--text-primary) !important;
  font-weight: 500 !important;
  font-size: 0.96rem !important;
}

.data {
  color: var(--text-primary) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.header {
  color: var(--text-inactive) !important;
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: 900 !important;
}

.header-update-profile {
  text-align: center;
  font-weight: bold !important;
  color: var(--text-primary) !important;
}

.update_profile__img {
  width: 50px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cancel-button {
  background-color: #e0e4e4 !important;
  color: var(--text-inactive) !important;
}

.cancel-button:hover {
  transition: all .3s;
  opacity: 0.9;
  transform: translateY(2px);
}

.update-button {
  background-color: var(--primary-main) !important;
  color: var(--text-primary) !important;
  margin-left: 10px !important;
}

.update-button:hover {
  transition: all .3s;
  opacity: 0.9;
  transform: translateY(2px);
}