.Symptoms-list {
  background-color: var(--background-main) !important;
  border-radius: 20px !important;
  padding: 1 !important;
  margin: auto;
}

.Symptoms-list__title {
  background: inherit;
  padding: 5px;
  border-radius: 10px;
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 700;
  padding-left: 27px;
}

.Symptoms-list__icon {
  position: relative;
  top: 13px;
  width: 20px;
  margin-bottom: 10px;
}

::selection {
  color: var(--primary-main);
  background: transparent;
}

.SYMPTOMS-list__no-data {
  color: #d93025;
  font-weight: 900 !important;
  display: inline-block;
}
