.news-button-div {
    margin-top:20px;
    display: inline-block;
    margin-left: 20px;
}

.news-button-div:hover{
    transition: all .3s;
    opacity: 0.9;
    transform: translateY(5px);
}

.news-btn {
    background: var(--primary-main) !important;
    border-radius: 20px !important;
}

.content{
    font-family:"Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    font-weight: bold !important;
    font-size: 20px !important;
    padding-top:18px !important;
    width:200px;
    height: 4vh;
    text-transform: none; 
}
