.STAT__container {
  display: flex;
  padding-top: 25px;
}

.STAT_item {
  padding: 15px;
  height: 100%;
  border-radius: 20px !important;
}

a {
  color: var(--text-primary);
}

.FLAGGED-PATIENTS__table {
  background-color: var(--background-main) !important;
  border-radius: 10px !important;
}
