a {
  color: var(--text-primary);
}

.textContent{
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size:16px !important;
  font-weight: bold italic !important;
  color:var(--text-inactive) !important;
  text-align: left !important;
}

.listTitle{
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center !important;
  font-size: 16px;
  font-weight: bold !important;
  border-bottom: 1px solid black;
  margin-top: 10px !important;
}

.patientList{
  border-radius: 20px;
}