.STAT__BOX {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.STAT__text__container {
  margin-left: 15px;
}

.STAT__desc {
  margin-top: -12px;
}

h2.STAT__number {
  color: var(--text-primary) !important;
  opacity: 1;
}
