.updateStatus-button{
  color: rgb(255, 255, 255) !important;
  top: 20px;
  left: 81%;
}

.header-statusModal {
  text-align: center;
  font-weight: bold !important;
  color: var(--text-primary) !important;
}

.save-button {
  background-color: var(--primary-main) !important;
  color: var(--text-primary) !important;
  left: 38%;
}

.updateStatus-label {
  color: var(--text-primary);
  font-size: 18px !important;
  font-weight: 700 !important;
}

.STATUS__box {
  margin-top: 30px !important;
  background-color: var(--background-main) !important;
  border-radius: 20px !important;
}

.updateSymptoms-label {
  color: var(--text-primary);
  font-weight: 700 !important;
}