.updateStatus-button {
  color: rgb(255, 255, 255) !important;
  top: 20px;
  left: 81%;
}

.header-statusModal {
  text-align: center;
  font-weight: bold !important;
  color: var(--text-primary) !important;
}

.updateStatus__save-btn {
  background-color: var(--primary-main) !important;
  color: var(--text-primary) !important;
  left: 38%;
}

.Update-Status__title {
  color: var(--text-primary);
  font-size: 18px !important;
  font-weight: 700 !important;
}

#statusModal-standardBasic {
  padding-top: 16px;
  background-color: var(--background-secondary);
  font-size: 13.5px;
}

.Update-Status__box {
  background-color: var(--background-main) !important;
  border-radius: 20px !important;
}

.Update-Status__symptoms-box {
  margin-top: 12px;
  margin-left: 50px;
  margin-right: 50px;
}
