.doctor-table {
    background-color:rgba(60, 131, 115, 0.87);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(173, 171, 171);
    position: fixed !important;
    width: 13% !important;
    top: 9.4%;
    left: 4.9%;
}

.doctor-data {
    color: white !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
}

.doctor-table-heading {
    font-size: 1.1rem !important;
    color: white !important;
    font-weight: 500 !important;
}