.doctor-table {
    background: linear-gradient(to right bottom, #8bc3eb, #949be2);
    border-radius: 20px;
    position: fixed !important;
    width: 13% !important;
    top: 9.4%;
    left: 4.9%;
}

.doctor-data {
    color: white !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
}

.doctor-table-heading {
    font-size: 1.1rem !important;
    color: white !important;
    font-weight: 500 !important;
}