.label-positive {
    text-transform: uppercase;
    color: rgba(218, 207, 250);
    background: rgba(83, 25, 231, 0.18);
    border: 1px solid rgba(218, 207, 250, 0.3);
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 0.375rem;
    padding-bottom: 0.3rem !important;
    padding: 0.55em 0.9em;
    margin: auto;
  }
  
  .label-negative {
    text-transform: uppercase;
    color: rgba(58, 173, 255);
    background: rgba(0, 117, 202, 0.18);
    border: 1px solid rgba(58, 173, 255, 0.3);
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 0.375rem;
    padding-bottom: 0.3rem !important;
    padding: 0.55em 0.9em;
    margin: auto;
  }