#avatar{
    height: auto;
    width: 16%;
    margin-top: 2%;
}

#avatarBox{
    margin-bottom: 10%;
    text-align: 10%;
}

h2{
    font-family: monospace;
}

#basicInfo{
    margin-left: 2%;
    font-family: monospace;
}