* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px; /* Base font-size - you can scale it up using 'rem' unit */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-light: rgb(139, 195, 235, 0.5) !important;
  --primary-main: rgb(139, 195, 235) !important;
  --primary-dark: rgb(5, 132, 190) !important;

  --secondary-light: rgb(148, 155, 226, 0.5) !important;
  --secondary-main: rgb(148, 155, 226) !important;
  --secondary-dark: rgb(67, 77, 184) !important;

  --info-border: rgb(251, 73, 233, 0.3) !important;
  --info-main: rgb(253, 135, 241) !important;
  --info-background: rgb(251, 73, 233, 0.18) !important;

  --success-border: rgb(154, 241, 145, 0.3) !important;
  --success-main: rgb(156, 241, 147) !important;
  --success-background: rgb(154, 241, 145, 0.18) !important;

  --background-main: #171717 !important;
  --background-secondary: #1e1e1e !important;

  --success-light: #4caf50;
  --success-main: #2e7d32;
  --success-dark: #1b5e20;

  --text-secondary: rgba(29, 31, 32, 0.7);
  --text-disabled: rgba(29, 31, 32, 0.5);
  --text-primary: white !important;
  --text-inactive: #767676 !important;

  --gradient-to-right-btm: linear-gradient(
    to right bottom,
    #8bc3eb,
    #949be2
  ) !important;

  --gradient-to-right: linear-gradient(to right, #8bc3eb, #949be2) !important;
  --error-main: red;
}
