.sidebar-text {
    color: var(--primary-main) !important;
}

.sidebar-icon {
    color: var(--primary-main) !important; 
}

.sidebar-button:hover .sidebar-icon{
    color: var(--text-primary) !important;
}

.sidebar-button:hover .sidebar-text{
    color: var(--text-primary) !important;
}