.sidebar-text {
    color: var(--primary-main) !important;
}

.sidebar-icon {
    color: var(--primary-main) !important; 
}

.sidebar-button:hover .sidebar-icon{
    color: var(--text-primary) !important;
}

.sidebar-button:hover .sidebar-text{
    color: var(--text-primary) !important;
}

.sidebar-button {
    background-color: rgba(15, 15, 15, 0.8) !important;
    border-radius: 5px !important;
    border: 1px solid var(--background-main) !important;
}