.sidebar-text {
  color: var(--primary-main) !important;
}

.sidebar-icon {
  color: var(--primary-main) !important;
}

.sidebar-logout {
  margin-top: 30px;
}

.sidebar-divider {
  height: 1px;
  background: var(--text-inactive);
  margin-top: 15px;
}

.sidebar-logout_text {
  color: var(--primary-main);
  font-weight: bold;
}
