#avatar {
  width: 200px;
  height: 233px;
  margin: auto;
  margin-top: 15px;
  border: 1px solid inherit;
}

.avatar-text {
  text-align: center;
  font-size: 13px !important;
  color: var(--text-primary);
}

.profile-name {
  text-align: center;
  font-weight: bold !important;
  color: var(--text-primary);
}

#addButton {
  position: relative;
  bottom: 3px;
  color: var(--text-inactive);
  border-radius: 100px;
}

#addButton:hover {
  background-color: transparent;
}

h5.symptomsTitle {
  color: var(--text-primary);
  font-weight: 900 !important;
}

.priority-flag {
  color: var(--text-primary);
}

.priority-flag.clicked {
  color: var(--info-main);
}

.status-card {
  border-style: none;
}

.status-card.clicked {
  border: 1px solid var(--info-border);
}

.profile-data {
  color: var(--text-primary) !important;
  font-weight: 500 !important;
  font-size: 0.96rem !important;
}