#avatar {
  width: 200px;
  height: 233px;
  margin: auto;
  margin-top: 15px;
  border: 1px solid inherit;
}

.text {
  text-align: center;
  font-size: 13px !important;
  color: var(--text-primary);
}

.profile-name {
  text-align: center;
  font-weight: bold !important;
  color: var(--text-primary);
}

#addButton {
  position: relative;
  left: 73%;
  color: var(--text-inactive);
  border-radius: 100px;
}

#addButton:hover {
  background-color: transparent;
}

h5.symptomsTitle {
  color: var(--text-primary);
  font-weight: 900 !important;
}

.priority-flag {
  color: var(--text-primary) !important;
}

.priority-flag.clicked {
  color: var(--error-main);
}

.status-card{
  border-style: none;
}

.status-card.clicked{
  border-style: double;
  border-color: var(--error-main);
}
