.notifications-container {
  margin: auto;
}

.notifications-box {
  position: relative;
  margin: 30px;
  background-color: rgb(67, 77, 184, 0.05) !important;
  border: 1px solid var(--secondary-dark) !important;
  border-radius: 20px !important;
  min-height: 75vh;
}

.notifications-closeIcon {
  color: #949be2 !important;
  position: absolute !important;
  right: 30px;
  width: 25px !important;
  height: 25px !important;
}

.notifications-closeIcon:hover {
  color: var(--text-primary) !important;
}
