.outline {
    margin-left: 5%;
    margin-top: 4%;
}

.outer-layer {
    background-color: #171717;
    width: 110%;
    height: 38%;
    border-radius: 20px;
}

.outer-layer-2 {
    background-color: #171717;
    width: 110%;
    height: 38%;
    margin-top: 35px;
    border-radius: 20px;
}

.event {
    background: linear-gradient(to right, #8bc3eb, #949be2);
    color: white;
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    bottom: 20px;
    padding: 1.5rem;
    margin-left: 20px;
}

.eventDate {
    padding: 0.8rem 0.5rem;
    font-size: 30px;
    font-weight: bold;
}

.eventMonth {
    font-size: 20px;
}

.eventTitle {
    color: white;
    font-weight: bold;
    margin-left: 130px;
    font-size: 20px;
    margin-top: -70px;
}

.eventTime {
    color: #767676;
    font-weight: bold;
    margin-left: 130px;
    font-size:  15px;
    margin-top: 10px;
}

.viewMore {
    color: #767676;
    font-size: 15px;
    font-weight: bold;
    margin-left: 130px;
}