.fc {
  background-color: var(--background-main) !important;
  color: var(--text-primary);
  border-radius: 20px;
  padding: 20px;
}

.fc-day-today {
  background: var(--background-secondary) !important;
}

.fc-day-today:hover,
.fc-day-past:hover,
.fc-day-future:hover {
  background-color: var(--primary-light) !important;
}

.fc-event {
  background: var(--gradient-to-right) !important;
}

.fc-button {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.fc-button:focus {
  background-color: var(--secondary-main) !important;
}

.fc *,
.fc *:before,
.fc *:after {
  border-color: transparent !important;
}

.fc a:hover {
  color: var(--text-primary) !important;
}

.fc-theme-standard td {
  border: 1px solid #595959 !important;
}

.calendar-createAppointmentTitle {
  margin-bottom: 35px !important;
  text-align: center;
}

.calendar-updateButton {
  margin-right: 15px !important;
  border: 1px solid var(--secondary-light) !important;
}
