.fc {
    background-color: #171717 !important;
    color: white;
    border-radius: 20px;
    padding: 20px;
}

.fc-day-today {
    background: #1e1e1e !important;
}

.fc-day-today:hover, .fc-day-past:hover, .fc-day-future:hover{
    background-color: rgb(139, 195, 235, 0.5) !important;
}

.fc-event {
    background: linear-gradient(to right,#8bc3eb, #949be2)!important;
}

.fc-button {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow:none !important;
}

.fc-button:focus {
    background-color: #949be2 !important;
}

.fc *, .fc *:before, .fc *:after {
    border-color: transparent !important;
}

.fc a:hover {
    color: white !important;
}