#messagesReceived {
  padding: 10px;
  max-width: 100vw;
  height: 68vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

ul,
li {
  text-align: left;
  list-style: none;
}

.INBOX__message p {
  max-width: 500px;
  margin-bottom: 16px;
  line-height: 22px;
  padding: 15px 15px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.INBOX__message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #8f96e2;
  align-self: flex-end;
}

.received p {
  background: #474646;
  color: white;
}

.CHAT__send-button {
  background-color: #8f96e2 !important;
  height: 50px !important;
  color: var(--text-primary) !important;
}
