#messagesReceived {
  padding: 10px;
  max-width: 100vw; 
  max-height: 72.5vh; 
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

ul,
li {
  text-align: left;
  list-style: none;
}

.message p {
  max-width: 500px;
  margin-bottom: 16px;
  line-height: 22px;
  padding: 15px 15px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received p {
  background: #e5e5ea;
  color: black;
}
