.News__Main__Content {
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal !important;
  font-size: 20px !important;
  text-align: left !important;
  color: var(--text-primary);
  background: none;
  border: 1px solid;
  border-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}

.News__Header {
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold !important;
  font-size: 40px !important;
  text-align: left !important;
  color: var(--text-inactive) !important;
  background: none;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.News__Details__Title {
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold !important;
  font-size: 24px !important;
  text-align: left !important;
  color: var(--text-primary) !important;
  background: none;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.News__Details__Title:hover {
  color: blue !important;
}

.News__Details__Body {
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal !important;
  font-size: 20px !important;
  text-align: left !important;
  color: var(--text-primary) !important;
  background: none;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.News__Details__Body:hover {
  color: blue !important;
}
