.patient-list {
    margin-top: 30px;
    border-radius: 10px !important;
    background-color: #171717 !important;
}

.label {
    background: inherit;
    width: 100%;
    height: 7vh;
    padding: 22px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.header {
    color: #767676 !important;
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 900 !important;
}

.symptoms-table {
    background: #1e1e1e;
    border-radius: 15px;
    width: 55% !important;
}

.symptoms-data {
    color: white !important;
    font-weight: 500 !important;
}

.data {
    color: white !important;
    font-weight: 600 !important;
}

.patient-name {
    color: white !important;
    font-weight: 600 !important;
    font-size: 0.875rem;
}

.label-positive {
    text-transform: uppercase;
    color: white;
    background: #0584be;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 0.375rem;
    padding: 0.55em 0.9em;
}

.label-negative {
    text-transform: uppercase;
    color: white;
    background: #434db8;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 0.375rem;
    padding: 0.55em 0.9em;
}

::selection {
    color: #8bc3eb;
    background: transparent;
}

/*
.flag {
    color: rgb(123, 128, 154);
    font-size: 25px;
}

.flag:hover {
    color: rgb(52, 71, 103);
    cursor: pointer;
}*/