#avatar{
    width: 200px;
    height: 233px;
    margin-left: 18%;
    border-radius: 3;
    align-items: center;
    text-align:center;
    border: 1px solid black;
    position: relative;
}

.label-positive {
    font-size: 0.78rem !important;
    padding: 0.50em 1em !important;
}

.text{
    text-align: center;
    font-size: 12.5px !important;
}

.title {
    text-align: center;
    font-weight: bold !important;
}

.link{
    font-size: 12.5px;
}

#addButton{
    position: relative; 
    left: 73%;
    color: black;
}