.SIDEBAR__link:hover {
    color: var(--background-secondary) !important;
}

.SIDEBAR__icon {
    color: var(--text-inactive) !important;
}

.SIDEBAR__text {
    color: var(--text-inactive) !important;
}

.SIDEBAR__button {
    background-color: transparent !important;
}

.SIDEBAR__button:hover .SIDEBAR__icon,
.SIDEBAR__button:hover .SIDEBAR__text {
    color: var(--text-primary) !important;
}