.sidebar-link:hover {
    color: var(--background-secondary) !important;
}

.sidebar-icon {
    color: var(--text-inactive) !important;
}

.sidebar-text {
    color: var(--text-inactive) !important;
}

.sidebar-button {
    background-color: transparent !important;
}

.sidebar-button:hover .sidebar-icon{
    color: var(--text-primary) !important;
}

.sidebar-button:hover .sidebar-text{
    color: var(--text-primary) !important;
}