.QR__container {
    margin: auto;
}

.QR-box {
    background-color: rgb(67, 77, 184, 0.05) !important;
    border: 1px solid var(--secondary-dark) !important;
    border-radius: 20px !important;
}

.download-QR {
    background-color: var(--background-secondary) !important;
    border-radius: 10px !important;
}

.download-QR:hover {
    color: var(--text-primary) !important;
    background-color: var(--secondary-main) !important;
}