.BOTTOM-NAV__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  background-color: var(--background-main);
  margin-bottom: -8px;
  padding-top: 5px;
  z-index: 100;
}

.BOTTOM-NAV__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-inactive) !important;
  background-color: inherit !important;
  box-shadow: none !important;
}

.BOTTOM-NAV__btn:hover {
  color: var(--text-primary) !important;
  box-shadow: none !important;
}

.BOTTOM-NAV__btn__title {
  color: var(--text-inactive);
  font-size: 0.9rem;
  text-transform: uppercase !important;
  margin-top: 4px !important;
}

.more-dropdown {
  color: var(--text-inactive) !important;
}

.more-dropdown:hover {
  color: var(--text-primary) !important;
}

.bottomNav-button:hover {
  transition: all 0.3s;
  opacity: 0.9;
  transform: translateY(2px);
}

.BOTTOM-NAV__btn:hover .BOTTOM-NAV__btn__title {
  color: var(--text-primary);
}

.MuiPopover-paper {
  background-color: var(--background-main) !important;
  border-radius: 10px !important;
}

.BOTTOM-NAV__popover__text {
  color: var(--text-inactive) !important;
  font-size: 0.9rem;
  text-transform: uppercase !important;
}

.BOTTOM-NAV__popover__text:hover {
  color: var(--text-primary) !important;
}

@media (max-height: 520px) {
  .BOTTOM-NAV__container {
    display: none;
  }
}
